* {
    box-sizing: border-box;
}

body {
    background-color: #333333;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: "Helvetica", "sans-serif";
}

input {
    outline: none;
    border: 1px solid grey;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

select {
    border-radius: 0.5rem;
    height: 30px;
    width: 150px;
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    flex-shrink: 0;
    flex-grow: 0;
}

.arrows__text {
    text-align: center;
}

.arrows__arrow {
    outline: 0;
    background: transparent;
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
}

.arrows__arrow--up {
    transform: rotate(-135deg);
    border-color: green;
    -webkit-transform: rotate(-135deg);
}

.arrows__arrow--up:hover {
    border-color: greenyellow;
}

.arrows__arrow--up:active {
    border-color: darkgreen;
}

.arrows_arrow--down {
    transform: rotate(45deg);
    border-color: red;
    -webkit-transform: rotate(45deg);
}

.arrows_arrow--down:hover {
    border-color: lightcoral;
}

.arrows_arrow--down:active {
    border-color: darkred;
}

.btn {
    border-radius: 0.5rem;
    outline: 0;
    border: 0;
    height: 30px;
    width: 100px;
    font-weight: bold;
}

.btn-post {
    border-radius: 0.5rem;
    outline: 0;
    border: 0;
    font-weight: bold;
}

.btn--primary, .btn-post--primary {
    background-color: #FFDD6C;
    color: #DB4A00;
}

.btn--primary:hover, .btn-post--primary:hover {
    background-color: #FFF3CC;
    transform: scale(1.01);
    box-shadow: 0 0 10px #084A8F;
}

.btn--primary:active, .btn-post--primary:active {
    background-color: #DBA900;
    color: #FFDD6C;
    transform: none;
}

.btn--warn {
    background-color: #DB4A00;
    color: #FFDD6C;
}

.btn--warn:hover {
    background-color: #db8383;
    transform: scale(1.01);
    box-shadow: 0 0 10px #084A8F;
}

.btn--warn:active {
    background-color: #772800;
    color: #FFDD6C;
    transform: none;
}

.btn--warn:focus, .btn--primary:focus, .btn-post--primary:focus, .topic-btn--primary:focus {
    outline: 2px solid #2A7BCF;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 2s width;
}

.content-title {
    display: flex;
}

.content-title > button {
    margin-left: 1rem;
}

.main {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
}

.message-container{
    display:flex;
    pointer-events: none;
    flex-direction:column-reverse;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    z-index: 2;
}

.message {
    background-color: grey;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.message--success {
    background-color: green;
    color: white;
    opacity: 100;
    width:300px;
    height:auto;
    margin: 0 1rem 1rem;
    padding:1rem;
    border-radius:1rem;
    box-shadow:0 0 1rem rgba(0,0,0,0.5);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.message--info {
    background-color: cornflowerblue;
    color: white;
    opacity: 100;
    width:300px;
    height:auto;
    margin: 0 1rem 1rem;
    padding:1rem;
    border-radius:1rem;
    box-shadow:0 0 1rem rgba(0,0,0,0.5);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

@keyframes loadingAnim {
    0%{
        background-color: #2A7BCF;
    }
    50%{
        background-color:cornflowerblue;
    }
    100%{
        background-color: #2A7BCF;
    }
}

.message--loading {
    position:fixed;
    right:1rem;
    bottom:1rem;
    color: white;
    opacity: 100;
    width:120px;
    height:auto;
    align-self:flex-end;
    padding:1rem;
    border-radius:2rem;
    box-shadow:0 0 1rem rgba(0,0,0,0.5);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    animation: 1s loadingAnim ease-in-out infinite;
}


.message--failure {
    background-color: red;
    color: white;
    width:300px;
    height:auto;
    margin: 0 1rem 1rem;
    padding:1rem;
    border-radius:1rem;
    box-shadow:0 0 1rem rgba(0,0,0,0.5);
    opacity: 100;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
}

.nav--theme-default {
    background-image: linear-gradient(#2A7BCF 95%, #CEE5FD 100%);
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #6faeee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.nav__user-input {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
}

.nav__title {
    text-align: center;
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.nav__user-input * {
    margin-right: 1rem;
}

.nav__user-list {
    display: flex;
    justify-content: flex-end;
}

.nav__user-input-label {
    display: flex;
    justify-content: flex-end;
}

@keyframes titleAnim {
    0% {
        color: black;
    }
    50% {
        color: #DBA900;
    }
    100% {
        color: black;
    }
}

.new-post-summary-title {
    animation: titleAnim ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.new-topic__input {
    width: 100px;
}

.new-post {
    background-color: #CEE5FD;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 30px 30px 30px 1fr;
    grid-column-gap: 10px;
    padding: 1rem;
    align-items: center;
    width: 100%;
    min-height: 300px;
    z-index: 1;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.new-post__title-label {
    grid-column: 1;
    grid-row: 1;
}

.new-post__title-input {
    grid-column: 1;
    grid-row: 2;
}

.new-post__image-label {
    grid-column: 2;
    grid-row: 1;
}

.new-post__image-input {
    grid-column: 2;
    grid-row: 2;
}

.new-post__category-input {
    grid-column: 3;
    grid-row: 2;
}

.new-post__message-label {
    grid-column: 1;
    grid-row: 3;
}

.new-post__message-input {
    grid-column: 1/3;
    grid-row: 4;
    align-self: stretch;
}

.new-post__post-btn {
    grid-column: 3;
    grid-row: 4;
    align-self: end;
    width: 100%;
}

.new-post__post-btn > button {
    width: 100%;
    margin-top: 1rem;
}

.reddit-stream {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: stretch;
}

@keyframes postAnimation {
    0%{
        transform-origin: 0 0;
        transform: scaleY(0);
    }
    100%{
        transform-origin: 0 0;
        transform: scaleY(1);
    }
}

.reddit-post {
    display: flex;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    flex-basis: 100%;
    height:100%;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1rem;
    animation: 0.3s postAnimation ease-in-out 1;
}

.reddit-post__close-btn{
    z-index: 1;
    position: relative;
    border-radius: 100%;
    text-align: center;
    margin: 0.5rem 0.5rem -1rem auto;
    background-color: red;
    font-size: 1rem;
    color: white;
    padding: 0.1rem;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    outline: none;
    border: none;
    opacity: 0;
}

.reddit-post__close-btn:hover{
    opacity: 1;
}

.reddit-post__close-btn:active{
    background-color:darkred;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.reddit-post__close-btn::after{
    content:"X"
}

.reddit-post__main {
    display: flex;
    margin-top: 1rem;
    flex-basis: 100%;
    border-radius: 1rem;
}

.reddit-post__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.reddit-post__comments {
    border-top: 1px solid black;
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: flex-end;
}

.reddit-post__comment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5rem 0;
    flex-basis: 100%;
}

.reddit-post__comments > h3 {
    margin: 0.5rem auto;
    flex-basis: 100%;
}

.reddit-post__comment > p {
    margin-top: 0.5rem;
    flex-basis: 100%;
    word-break: break-all;
}

.reddit-post__comment-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 0.5rem 0;
    max-width: 400px;
}

.reddit-post__content-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-right: 2rem;
}

.reddit-post__body-header {
    display: flex;
}

.reddit-post__header-text {
    flex-grow: 1;
    display: flex;
    min-width: 160px;
    flex-direction: column;
    justify-content: flex-end;
}

.reddit-post__header-image {
    flex-grow: 2;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.reddit-post__header-image > img {
    width: 100%;
    padding: 1rem;
}

.reddit-post__comments-input-section {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 4fr 4fr 2fr;
    grid-gap: 10px;
    grid-template-rows: 30px 30px;
}

.reddit-post__comment-message-input {
    grid-column: 1 / 3;
    grid-row: 1/2;
}

.reddit-post__comment-btn {
    grid-column: 3;
    grid-row: 1;
}

.reddit-post__topic {
    font-weight: bold;
    color: #2A7BCF;
    margin-top: 0.5rem;
}

.reddit-post__user {
    font-weight: bold;
    color: #DB4A00;
    margin-top: 0.5rem;
}

.reddit-post__heading {
    font-weight: bold;
    margin-top: 0.5rem;
}

.reddit-post__message {
    margin-top: 0.5rem;
    text-align: justify;
}

.topics {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    flex-wrap: wrap;
    min-height: 30px;
}

.topics__list {
    margin-right: 1rem;
}

.topic-btn {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.topic-btn--active {
    background-color: #FFE17A;
}

.topic-btn--primary {
    color: #084A8F;
    text-decoration: underline;
}

.topic-btn--primary:hover {
    font-weight: bold;
}

.topic-btn--primary:active {
    text-shadow: 0 0 10px rgba(255, 225, 122, .75);
}

@media screen and (max-width: 1440px) {
    .content {
        width: 75%;
        transition: 2s width;
    }
}
